.pics{
	width:1024px;
	height:780px;
	margin:0;
	padding:0;
	
}

.photo{
/* 	position: absolute; */
	width:1024px;
	height: 780px;
	top:0;
	left:0;
}

#ph1{	background: aqua;}
#ph2{	background: black;}
#ph3{	background: blue;}
#ph4{	background: fuchsia;}

#nav{
	width:300px;
	height:50px;
}

#nav a{
/* 	width:5px; */
/* 	height:5px; */
	border: solid 1px #666;
	background: #999;
/* 	border-radius: 10px; */
}

#nav a.activeSlide{
	background: #333;
}