*{
	margin:0;
	padding:0;
}
.slides_container{
	width:1024px;
	height: 780px;
}
.slides_container div{
	width:1024px;
	height: 780px;
	display: block;
}
.photo{
	width:1024px;
	height: 780px;
}
#bk1{	background: url(../img/spectrum_bk1.jpg) no-repeat; }
#bk2{	background: url(../img/spectrum_bk2.jpg) no-repeat; }
#bk3{	background: url(../img/spectrum_bk3.jpg) no-repeat; }
#bk4{	background: url(../img/spectrum_bk4.jpg) no-repeat; }

.pagination{
	list-style: none;
}
.pagination li.current a,
.pagination li.current a:hover{
	background: #538dca;
	color:#538dca;
}
.pagination li a:hover{
	background: #a1c1e2;
	color:#a1c1e2;
}
.pagination li a{
	display:block;
	float:left;
	overflow: hidden;
	width:10px;
	height:10px;
	border: 2px solid #2e5f95;
  -webkit-border-radius: 20px;
  border-radius: 20px;
	background: #fff;
	color:#fff;
	margin:3px;
}
a, a:visited{
	text-decoration: none;
}